
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}

.container-top{
  display:block;
  background-color: rgba(215,206,206,.15);
  height: 80px;
  line-height: 40px;
}

.icon-left{
  display: inline-block;
  float: left;
  margin: 20px 50px 0 150px;
}

.list-top li{
  color:inherit;
  list-style: none;
  text-align: center;
  display: inline-block;
  color: rgb(0,0,0);
  line-height: 14px;
  margin: 28px;
  font-size: 24px;
  font-family: "微軟正黑體"
}

.list-top a{
  color: rgb(0,0,0);
}

asdf{
  clear: both;
}

.main-block{
  background-color: rgb(0,0,0);
}

@-webkit-keyframes func {
 0%{transform:'scale(1)';}
 30%{transform:'scale(3)';}
100%{transform:'scale(1)';}
}
.mainphoto {
  animation: 3s func;
  text-align: center;

  transition: transform 1s ease;
  position: relative;
}

.mainphoto img {
  width: 1100px;
}

.mainphoto:hover {
  transform: scale(1.5);
}

.mainphoto:hover > .center-title   {
  opacity: 1;
}

.mainphoto> .center-title {
  opacity: 0;
  transition: opacity 1s ease;
  color: white;
  font-size: 40px;
  position: absolute;
  margin: auto;
  line-height: 562px;
  width: 200px;
  left: 0px;
  right: 0px;
  font-family: "微軟正黑體";
}


.up_title_left, .up-title, .up_title_right {
  display: inline-block;
  margin-left: 30px;
}

.down_title_left, .down-title, .down_title_right{
  display: inline-block;
  margin-left: 30px;
}
.up_title_left img, .up_title_right img,.down_title_left img, .down-title img, .down_title_right img {
  width: 400px;
}
.up-block{
  height: 335px;
  display: inline-block;
  text-align: center;
  margin: 18px 0 18px 0;
}

.down-block{
  height: 335px;
  display: inline-block;
  text-align: center;
  margin: 18px 0 18px 0;
}

.second-block{
  display: block;
  background-color: rgba(215,206,206,.15);
  width: 1100px;
  margin: auto;
  text-align: center;
}

.up_title_right{
}

.down_title_right{

}

.up-title h2{
  font-size: 24px;
  font-family: "微軟正黑體";
}

.down-title h2{
  font-size: 24px;
  font-family: "微軟正黑體"
}

line2{
  display:block;
  height:1px;
  background:rgb(0,0,0);
  margin: 0 0 30px 0;
}

.foot {
  background-color: rgb(0,0,0);
}

.foot-container{
  display: block;
  padding-left: 60px;
  width: 1100px;
  margin: auto;
  padding: 5px 50px;
  box-sizing: border-box;
}

.footlist-first {
  float:left;
}
.footlist-second{
  float: none;
  position: relative;
}


.footlist-second li,.footlist-first li{
  list-style: none;
  color: rgb(255,255,255);
}

line1{
  display:block;
  height:1px;
  background:rgb(255,255,255);
}

.icon-foot{
  display: inline-block;
  float: right;
  margin-right: 200px;
  top: -30px;
  position: relative;
}

.icon-footbtn{
  margin-right: 10px;
}

footer {
  background-color: rgb(0,0,0);
}
.foot-content{
  display: block;
  width:1100px;
  padding-left: 50px;
  box-sizing: border-box;
  margin: auto;
}

.foot-content p{
  display: inline-block;
  color: rgb(255,255,255);
  margin-right: 50px;
}
